{% extends "layout.html" %}

{% block style %}
    <style>
        p{
            width: 100%;
            height: 100vh;
            background-size: cover;
            background-position: center;
       }

    </style>

{% endblock style %}
    
    
    {% block main %}  

        <p style="color: white;">Este website congrega conteúdos desenvolvidos na UC de Complementos de Redes.</p>
        <p style="color: white;">Tais como o desenvolvimento de uma página Web em Django e html.</p>
        <p style="color: white;">Procura também ser um meio para guardar a informação transmitida em aula, tais como os temas abordados dos tópicos.</p>
        {% load static %}
        <img src="{% static 'core\fundo.png' %}" width="300px" alt="">
       
    {% endblock main %}    
         
    
</html>