@font-face {
    font-family: delicious;
    src: url(fonte/DeliciousHandrawn-Regular.ttf);
}

body {
    height: 100vh;
    display: grid;
    grid-template-rows: 20vh 1fr 7vh;
    background: #8d98a7;
    font: normal 300 18px "Roboto", sans-serif;
}

header {
    background-color: #395756;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    padding: 5vh;
}

header.h1{
    font-style: Arial, Helvetica, sans-serif;
}

main {
    padding: 5vw;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn{
    background-color: #fcd0a1;   
}

.logo{
    font-size: 50px;
    color: white;
    font-family: delicious;
}   

.logo span{
    color: #fcd0a1;
}

