<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CoRe</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🕸</text></svg>">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">


</head>
<body>
    <header>
        {% load static %}
        <img src="{% static 'core\logo.png' %}" width="300px" alt="">
        <nav>
            <a href="{% url 'core:index' %}" class="btn btn-primary  btn-sm" >Home</a>
            <a href="{% url 'core:topicos' %}" class="btn btn-warning  btn-sm" >Topicos</a>    
            <a href="{% url 'core:conversor' %}" class="btn btn-warning  btn-sm" >unidades logaritmicas</a>    
            <a href="{% url 'core:limite' %}" class="btn btn-warning  btn-sm" >limites fundamentais</a> 
        </nav>
    </header>

    <main>
        <div>
            {% block main %}

            {% endblock main %}        
        </div>
    </main>

    <footer>
        Universidade Lusófona @ 2022
    </footer>

</body>
</html>